*{
    padding: 0px; margin: 0px;
    font-family: sans-serif;
}

.wrapper{
    width: 900px;
    margin: 0 auto;
}

h1{
    float: left;
    font-size: 40px;
    padding: 10px;
}

.content-header{
    background: #3a5795;
    color: white;
    padding: 10px 0;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.content-header form{
    float: right;
}


.content-header label{
font-size: 11px;
padding-bottom: 2px;
}


.content-header label,
.content-header input{
    display: block;
}


.content-header input[type="checkbox"]{
 display: inline-block;
}

.group-form{
    float: left;
    margin-left: 10px;
}

.group-form a {
    color: rgba(0,0,0,8);
    font-size: 10px;
    text-decoration: none;
}

.content-header input[type="checkbox"]{
    background-color: #5972a8;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
    font-size: 15px;
    margin-top: 10px;
    
}